* {
  margin: 0;
  color: black;
  padding-right: 100vh;
}

.form {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
}

.login-verify {
  display: flex;

}

.login {
  display: flex;
}